body {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  color: #4d4e53;
}

header {
  font-size: 1.8em;
  text-align: center;
  margin: 1em auto;
  color:#000;
}

#main-doc {
  margin-left: 310px;
  padding: 28px;
}

#main-doc header {
  text-align: left;
  margin: 0;
}

#navbar {
  min-width: 290px;
  width: 300px;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  border-right: 5px solid #ccc;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  width: 100%;
  position: relative;
  list-style-type: none;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  color: #4d4e53;
  border-top: 1px solid #4d4e53;
}

#links {
  display: static;
}

@media (max-width: 600px) {
  #body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  #navbar {
    min-width: 90%;
    width: 95%;
    border-right: 5px solid #ccc;
    position: static;
  }
  
  #navbar ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-link {
    text-align: center;
  }
  
  #navbar li {
    min-width: 20%;
  }
  
  #main-doc {
    margin: auto;
  }
}