* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}
a:active {
    color: #208AFA;
}

#main_navigation {
    background-color: rgb(37, 36, 44);
    color: #ffffff;
    margin: 0;
    height: 100vh;
    position: fixed;
    padding: 1.5em;
}

#initial {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #208AFA;
    border-radius: 50%;
    width: 90%;
    padding: 1em 5px;
    margin-bottom: 3em;
    text-align: center;
}

#main_navigation ul {
    /* display: inline; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    list-style-type: none;
}

#main_navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

#main_navigation a:hover {
    color: #208AFA;
}

#main_navigation a:active {
    color: #208AFA;
}

.page_navigation li {
    margin: 1.5em auto;
    padding: 1em 5px;
    transform: rotate(270deg);
}

.socials {
    margin-top: 2em;
}

.socials li{
    padding: 1em;
    margin: 5px;
}

#body {
    padding-left: 100px;
}

#home {
    background: linear-gradient(rgba(37, 36, 44, 0.8), rgba(37, 36, 44, 0.8)), url(../assets/IMG_20210821_085647_823.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 5em;
    color: rgb(255,255,255);
}

#title {
    font-size: 48px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

#believe {
    max-width: 53%;
    padding: 8px 0;
    line-height: 1.5em;
}

#btn_more {
    margin-top: 1em;
    padding: 1em 1.5em;
    font-size: 16px;
    background-color: #208AFA;
    color: rgb(255,255,255);
    border: none;
    border-radius: 5px;
}

#about {
    padding: 1em 1em 1em 4em;
    height: 100vh;
}

.about_text {
    display: flex;
    padding: 2em;
}

.side_image {
    max-width: 50vw;
    height: 40vh;
    border-radius: 1em;
    transform: rotate(-6deg);
    filter: grayscale(100%);
    margin: 1em 2em 1em 0;
    object-fit: cover;
}

#title_about {
    font-size: 32px;
    padding-top: 1.5em;
}

#question {
    color: rgb(128, 128, 128);
}

#about_me {
    display: flex;
    text-align: left;
    width: 40vw;
    flex-direction: column;
    line-height: 1.5em;
    text-align: justify;
}

#about_me p {
    color: rgba(0,0,0,0.6);
}

#about_me h1{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1em;
}

i {
    font-family: "FontAwesome" !important;
}